<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<span class="post-meta">
				{{#unless @custom.hide_author_in_homepage}}
					{{t "By"}}
					{{authors separator=", "}}
				{{/unless}}

				{{#primary_tag}}{{t "in"}} <a class="post-meta-tag" href="{{url}}" style="text-decoration-color: {{accent_color}}">{{name}}</a> &bull;{{/primary_tag}}

				{{t "On"}}
				<time datetime="{{date format=@custom.date_format}}">{{date format=@custom.date_format}}</time>
			</span>
			<p class="post-excerpt">{{excerpt}}&hellip;</p>
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
